ul {
    padding: 0px;
}
li {
    margin: 0px;
    list-style: none;
}
p {
    margin: 0px;
}

img {
    max-width: inherit;
    max-height: inherit;
}

h4 {
    text-align: center;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hexItem {
    max-width: 60px;
    display: inline-block;
    margin: 1px;
}

.grid-container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 5px;
}

.buildGrid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
}

.hexList {
    list-style: none;
    white-space:nowrap;
}

.build-button {
    max-width: inherit;
    background-color: green;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}
.buttonContainer {
    width: inehrit;
}
.navBtn {
    padding: 22px;
    font-size: 12fr;
    font-family: 'VT323', monospace;
    font-size: 36px;
}

.buildingImage {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.buildingName {
    margin: 0;
    background-color: darkslategray;
}

.building {
    max-width: 100px;
    margin: 10px;
    background-color: grey;
    color: white;
    border-radius: 15px;
}


.detailPanel {
    padding: 20px;
}

.detailView  {
    border-style: double;
    border-color: black;

}

.queueBox {
    border-style: solid;
    border-color: black;
    height: 120px;
}

#mainDash {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    margin-top: 5px;
}

#sideDash {
    height: 70vh;
    overflow: auto;
}
#graphicDash {
    overflow: auto;
}
/*
#hexMapList {
    
}
*/
/*
#hexRow0 {
    position: relative;
}
#hexRow1 {
    position: relative;
    left: 31px;
    bottom: 22px;
}
#hexRow2 {
    position: relative;
    right: 0px;
    bottom: 44px;
}
#hexRow3 {
    position: relative;
    left: 31px;
    bottom: 66px;
}*/
