html {
    background-color: rgb(17, 35, 41);
}

.space {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: white;
}

p {
    font-family: 'Prosto One', cursive;
    color: white;
}

footer{
    text-align: center;
}

.importantFrame {
    outline: 1px solid #19F6E8;
}
.sign-up {
    background: rgb(31, 64, 75);
    color:white;
    box-sizing: border-box;
    border-radius: 15;
    box-shadow: -1px 15px 30px -12px black;
}
.description {
    color: white;
    font-family: 'Prosto One', cursive;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 75vh;
}

#pageRoot {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}
#information {

    padding: 25px;
}

.forms {
    padding: 25px;
}

.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    text-align: center; 
}

.box input[type="text"], .box input[type="password"], .box input[type="email"] {
    border : 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    background: #000000;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="email"]:focus {
    width: 320px;
    border-color: #00FFFF;
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FF00FF;
    padding: 14px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
}

.box input[type="submit"]:hover {
    background: #FF00FF;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.loginStyle {
    border-radius: 10px 100px / 120px;
    width: 100px;
    text-align: center;
    right: 100px;
}

.loginStyle.relative {
    position: relative;
    right: 100px;
}
