html {
    background-color: rgb(17, 35, 41);
}

h1 {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: white;
}

p {
    font-family: 'Prosto One', cursive;
    color: white;
}

footer{
    text-align: center;
}

.importantFrame {
    outline: 1px solid #19F6E8;
}
.sign-up {
    background: rgb(31, 64, 75);
    color:white;
    box-sizing: border-box;
    border-radius: 15;
    box-shadow: -1px 15px 30px -12px black;
}
.description {
    color: white;
    font-family: 'Prosto One', cursive;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-rows: 75vh;
}

#pageRoot {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}
#information {

    padding: 25px;
}

#forms {
    padding: 25px;
}
