.box {
    background-color: lightblue;
    width: 2.5fr ;
    border: 2px;
    padding: 20px;
    margin: auto;
}

.center {
    text-align: center;
}

.planetList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
}